{
  "presets": ["next/babel"],
  "plugins": [
    ["transform-define", "./env.config.js"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@common": "./src/common"
        }
      }
    ]
  ]
}
